nav {
	height: 60px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;

  width: 97.5%;
  margin-left: 15px;
}

nav > a {
	color:  #337ab7;
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	font-weight: 600;
	left: 60px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	top: 45px;
  padding-left: 100px;
  border-color: black;
}
nav.nav1 a:hover,
nav a:focus {
  color: white;
  text-decoration: none;
}
nav img {
  height: 45px;
  width: 70px;
  background-color: lightblue;
  border-radius: 20px;
}
.img2 {
  height: 375px;
  width: 215px;
}
nav li {
  position: absolute;
  right: 25px;
  top: 45px;
  display: inline-block;
  width: 15%;
  float: right;
  font-family: 'Kaushan Script', cursive;
  font-size: 15px;
  text-align: center;

}

.carousel-inner > .item > img {
    margin: 0 auto;
    background-color: rgb(173, 216, 230);
    margin-top: 150px;
}

.carousel {
  height: 600px;
  background-color: lightblue;
}
div.container-fluid.car {
  padding-left: 0 !important;
  padding-right: 0 !important;
    margin-right: 0;
    margin-left: 0;
    background-color: lightblue;
  }
#pictures {
	text-align: center;
	margin: 0 200px 0 200px;
}
	#pictures img {
		height:150px;
		border-radius: 10px;
		margin-top: 55px;

	}
	#pictures h1{
		font-size: 25px;
		font-family: 'Roboto Slab', serif;
		text-shadow: 1px 1px lightgrey;
	}
	#pictures p {
		margin-bottom: 55px;
	}
.page2 {
	width: 100%;
	background-color: lightgreen;
	height: 250px;
	text-align: center;
}
.page2 h1 {
	padding-top:100px;
	font-size: 50px;
	font-family: 'Roboto Slab', serif;
	font-weight:bolder;
	letter-spacing: 2px;
	color: white;
}
.page2 p {

font-family: 'Roboto Slab', serif;
color: white;
font-size: 20px;
}
div.container-fluid.nav2 {
	background-color: lightgreen;
	text-align: center;
	height: 40px;
}
div.container-fluid.nav2 a {
	font-size: 20px;
	color: white;
	style: none;
	padding: 15px 12px 15px 12px;
}

div.container-fluid.nav2 a:hover {
		border: solid white 2px;
    border-radius: 5px;
		text-decoration: none;
		background-color: turquoise;
}

div.container-fluid.container2 {
background-color: lightgreen;
	text-align: center;
}
div.row.container2 {
	margin: 50px 140px 20px 140px;

}
.container2 img {
	border-radius: 10px;
	height: 200px;
	width: 250px;
	position: relative;
}
.row.container2 p {
	position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
		color: white;
		font-family: 'Roboto Slab', serif;
		font-weight: bolder;
}
.button {
	text-align: center;
	background-color: lightgreen;
	margin-top: -20px;
	padding: 40px 20px 40px 20px;
}
button.btn.btn-default {
	background color: turquoise;
	border-color: white;
	color: black;
}
button.btn.btn-default:hover {
	background-color: white;
	border-color: black;
}
div.container-fluid.container3 {
	background-color: lightgrey;
}

.surfer1 {
	height: 200px;
	width: 250px;
	border-radius: 10px;
	position: relative;
	float: right;
	margin-top: 60px;
	margin-bottom: 60px;
}
.text {
	float: left;
	text-align: left;
}
div.col-sm-5.txt {
	height: 315px;
}
div.col-sm-7 {
	background-color: lightgrey;
	padding-top: 50px;
}
div.col-sm-7 h1 {
	font-size: 40px;
font-family: 'Roboto Slab', serif;
text-shadow: 1px 1px lightgrey;
margin-top: 20px;
}
div.col-sm-7 p {
	font-size: 25px;
font-family: 'Roboto Slab', serif;
}
div.button2 {
	float: left;
}
div.col-sm-8.brk {
	background-color: grey;
}
div.col-sm-2.brk {
	background-color: lightgrey;
}
.ctr4 {
	float: right;
	text-align: right;
}
.surfer2 {
	height: 200px;
	width: 250px;
	border-radius: 10px;
	position: relative;
	float: left;
	margin-top: 60px;
	margin-bottom: 60px;
}
div.button3 {
	float: right;
}
div.row.container4 {
	background-color: lightgrey;
}
.page5 h1 {
	font-size: 50px;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	color: white;
	background-color: lightblue;
	margin-top: -30px;
	font-weight: bolder;
}
.page5 p {
	font-size: 25px;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	color: white;
	background-color: lightblue;
	margin-top: -15px;
	padding-bottom: 25px;
	padding-top: 15px;
}
.page6 {
	text-align: center;
}
div.col-sm-4.boxes {
	background-color: white;
	height:auto;
	width: 275px;
	text-align: center;
	margin: 25px 35px 25px 35px;
	border-radius: 10px;
}
div.row.boxes img.whale {
	height: 225px;
	width: 275px;
	margin-left: -15px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.boxes h1 {
	background-color: white;
	height: 100px;
	margin-top: -30px;
	padding-top: 55px;
	font-size: 30px;
	font-family: 'Roboto Slab', serif;
	font-weight:bolder;
	letter-spacing: 2px;
	color: black;
	text-align: center;
}
.boxes h2 {
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	color: black;
	background-color: white;
	margin-top: -20px;
}
.boxes p {
	font-family: 'Roboto Slab', serif;
	color: black;
	font-size: 15px;
	text-align: center;
	background-color: white;
	margin: 20px 0 -10px 0;
}

div.row.boxes {
	background-color: lightblue;
	margin-left: 152px;
}
div.icons {
	display: inline-block;
}
img.icons {
	height:30px;
	width: 30px;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 20px;
}
div.container-fluid.page6 {
	background-color: lightblue;
	margin-top: -15px;
	margin-bottom: 40px;
}
section.footer {
	background-color: #333333;
	margin-bottom: 25px;
}
.footer h1 {
	font-size: 50px;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	color: white;
	background-color: #333333;
	margin-top: -40px;
	padding-top: 30px;
	font-weight: bolder;
}
.footer p {
	font-size: 17px;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	color: white;
	background-color: #333333;
	margin-top: -15px;
	padding-bottom: 25px;
	padding-top: 15px;
}
#usr, #pwd {
	width: 800px;
	margin-left: 180px;
}
#msg {
	height: 200px;
	width: 800px;
margin-left: 180px;
}
div.form-group {
	margin-bottom: 15px;
}
div.container.footer2 {
	margin-bottom: 30px;
}
div.col-sm-8.ftr {
	background-color: lightgrey;
}
div.col-sm-2.ftr {
	background-color: #333333;
}
	div.icons2 {
		display: inline-block;
		width: auto;
		text-align: center;
		margin-left: 465px;
	}
	img.icons2 {
		height:30px;
		width: 30px;
		text-align: center;
		margin: 35px;
	}
	div.copyright {
		color: lightgrey;
		width: auto;
		text-align: center;
	}
div.copyright span {
	color: lightyellow;
}
div.footer2 {
	margin-bottom: 30px;
}
